git+https://git@github.com/yjg30737/pyqt-find-replace-text-widget.git@main
git+https://git@github.com/yjg30737/pyqt-font-dialog.git@main
git+https://git@github.com/yjg30737/pyqt5-color-dialog.git@main